* {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(4, 1fr);
}

.header{
    grid-column: 2/3;
    grid-row: 1/2;
}

.sidebar {
    grid-row: 1/5;
}

.content {
    grid-row: 2/5;
}