:root {
    --main-color: #9A3B3B;
    --secondary-color: #E2C799;
    --accent-color: #C08261;
    --text-color-light: #F2ECBE;
}

* {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(4, 1fr);
}

.header{
    background-color: var(--accent-color);

    grid-column: 2/3;
    grid-row: 1/2;
}

.sidebar {
    border: 1px solid black;
    background-color: var(--main-color);
    color: var(--text-color-light);    

    grid-row: 1/5;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sidebar h2 {
    font-size: 2.2rem;
}

.title {
    padding-top: 15%;
    height: 15%;
    padding-right: 3em;
}

.dashboard-icon {
    font-size: 2.7rem;
}

.sidebar .links {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 35%;
    padding-right: 7em;
    cursor: pointer;
}

.links * {
    font-size: 1.6em;
}

.links span {
    padding-right: .3em;
    vertical-align: sub;
    font-size: 1em;
}

.content {
    background-color: var(--secondary-color);

    grid-row: 2/5;
}