:root {   
    --sidebar-color: #0CCE6B;
    --sidebar-text-color: #363537;
    --header-color: #EF2D56;
    --button-color: #363537;
    --border-color: #EF2D56;
    --text-color-light: #F2ECBE;
}


* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(5, 1fr);
}

.header{
    background-color: var(--header-color);

    grid-column: 2/3;
    grid-row: 1/2;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
}

.header  span {
    cursor: pointer;
}

.search-holder {
    grid-column: 3/6;
}

.search-bar {
    height: 2.4em;
    border: 1px solid black;
    border-radius: 2.5em;
    padding-left: 1em;
    width: 90%;
}

.user {
    grid-column: 6/8;
    align-self: center;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 4.5em;
    padding-right: .4em;
}

.user h4 {
    font-size: 1.5em;
}

.buttons {
    grid-column: 1/3;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    height: 3.5em;
    width: 5.5em;
    border: none;
    border-radius: 2.5em;
    color: var(--text-color-light);
    background-color: var(--button-color);
    cursor: pointer;
}

.sidebar {
    background-color: var(--sidebar-color);
    color: var(--button-color);    

    grid-row: 1/6;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sidebar h2 {
    font-size: 2.2rem;
}

.title {
    padding-top: 15%;
    height: 15%;
    padding-right: 3em;
}

.dashboard-icon {
    font-size: 2.7rem;
}

.sidebar .links {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 35%;
    padding-right: 7em;
    cursor: pointer;
}

.links * {
    font-size: 1.6em;
    padding-bottom: .5em;
}

.links span {
    padding-right: .3em;
    vertical-align: sub;
    font-size: 1em;
}

.content {

    grid-row: 2/6;

    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 2em;
}

.article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 25px;
    padding-right: 50px;
}

.card {
    height: 200px;
    padding: 5px;
    border-left: 10px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0px 0px 21px 6px rgba(0,0,0,0.33);
}

.feed {
    display: grid;
    gap: 15px;
}

.card.long {
    height: 300px;
    border: none;
}